.delete-modal-layout {
  display: grid;

  height: 30rem;

  border-radius: 5px;
  background-color: aliceblue;
}
.delete-modal {
  display: grid;

  flex-direction: column;
  gap: 2rem;
}
.modal-section {
  position: relative;
}
.modal-close {
  justify-self: end;
  padding: 0.25rem 0.25rem;
}
.modal-close > button {
  justify-self: end;
  background-color: black;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-actions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 1rem;
}
.modal-actions-container > button {
  height: 2rem;
  width: 6rem;
}
.modal-actions-container > button:nth-of-type(1) {
  background-color: rgb(205, 98, 98);
  font-size: larger;
  color: rgb(207, 207, 207);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.modal-actions-container > button:nth-of-type(2) {
  background-color: rgb(199, 158, 158);
  font-size: larger;
  color: rgb(39, 37, 37);
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.modal-actions-container > button:nth-of-type(1):hover {
  height: 2.3rem;
  background-color: rgb(6, 5, 5);
  font-size: larger;
  color: rgb(188, 188, 188);
  transition: all 200ms linear;
}
.modal-actions-container > button:nth-of-type(2):hover {
  height: 2.3rem;
  background-color: rgb(0, 0, 0);
  font-size: larger;
  color: rgb(245, 245, 245);
  transition: all 200ms linear;
}
.btn-modal {
  font-size: large;
}
.btn {
  justify-self: center;
  position: absolute;
  top: -33px;
  left: 41%;
  cursor: pointer;
  border: none;
  background-color: salmon;
  font-size: larger;
  height: 2.5rem;
  width: 3rem;
  border-radius: 10px;
  z-index: 5;
}
.btn:hover {
  font-weight: bold;
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
}
