.add-todo {
  background-color: skyblue;
  font-size: larger;
  border: none;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 70%;
  height: 2.2rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
