.add-todo {
  background-color: #87ceeb;
  font-size: larger;
  border: none;
  margin-top: 4rem;
  border-radius: 5px;
  width: 70%;
  height: 2.4rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.add-todo:hover {
  background-color: #73c4e4d4;
  // color: white;
  font-size: 20px;
  transition: all ease 400ms;
}
