.card-container {
  display: flex;
  position: relative;
  width: 38rem;
  height: 13rem;
  background-color: white;
  text-align: start;
  border: 0.5px solid rgb(222, 221, 221);
  // max-height: 10rem;
  padding: 4px;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border-radius: 10px;
}
.card-container-toggle {
  @extend .card-container;
  height: auto;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.card-detail {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  gap: 0.5rem;
}
.card-title {
  font-size: 1.3rem;
}
.card-text {
  width: initial;

  overflow: hidden; /* option for text in card */
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.65rem; /* fallback */
  // max-height: 2rem;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-text-toggle {
  @extend .card-text;
  overflow: initial;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.card-paragragh {
  display: flex;
  flex-direction: column;
}
.card-text-option {
  // margin: .01rem;
  font-weight: bold;
  cursor: pointer;
}
.card-todo-color {
  border-radius: 50%;
  background: rgb(255, 98, 0);
  height: 0.5rem;
  width: 0.5rem;
}
.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
}
.card-button {
  border-radius: 0.2rem;
  border: none;
  width: 5rem;
  height: 2.5rem;
  background-color: #8edbc9;
  color: black;
  cursor: pointer;
}
.text-button {
  margin-top: 0.75rem;
}
.card-button:hover {
  box-shadow: 0.001rem 0.095rem 0.095rem rgba(91, 90, 90, 0.71);
}

@media (max-width: 52.25rem) {
  .card-container {
    width: auto;
  }
  .card-detail{
    width: 38rem;
  }
}
@media (max-width: 45.625rem) {
 
  .card-detail{
    width: 35rem;
  }
}
@media (max-width: 44.75rem) {
  .card-title {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .card-text {
    font-size: 0.79rem;
    line-height: 1.5rem;
  }
  .card-button {
    width: 3.75rem;
    height: 2rem;
  }
 
}
@media (max-width: 42.625rem) {
 
  .card-detail{
    width: 33rem;
  }
}
@media (max-width: 36.25rem) {
  .card-title {
    font-size: 0.85rem;
    font-weight: bold;
  }
  .card-text-option {
    font-size: 0.5rem;
  }
  .card-text {
    font-size: 0.65rem;
    line-height: 1.2rem;
  }
  .card-button {
    width: 3.3rem;
    height: 1.8rem;
  }

 
   
  
}
@media (max-width: 40.6875rem) {
 
  .card-detail{
    width: 26rem;
  }
}
@media (max-width: 33.625rem) {
 
  .card-detail{
    width: 23rem;
  }
}

@media (max-width: 31.25rem) {
  .card-title {
    font-size: 0.7rem;
  }
  // .card-text{
  //     font-size: .59rem;
  //     line-height: .9rem;
  // }
  .card-button {
    width: 2.75rem;
    height: 1rem;
  }
  .card-detail{
    width: 20rem;
  }
  
}
@media (max-width: 27.25rem) {
  .card-title {
    font-size: 0.7rem;
  }
  // .card-text {
  //   font-size: 0.59rem;
  //   line-height: 0.9rem;
  // }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 11rem;
    background-color: white;
    justify-self: flex-start;
    // max-height: 10rem;
    padding: 0.25rem 0.25rem;
    gap: 0.2rem;
  }
  .card-container-toggle {
    @extend .card-container;
    height: 20rem;
  }
  .card-button {
    width: 3rem;
    height: 1.5rem;
  }
  .card-header {
    display: flex;

    gap: 0.1rem;
  }
  .card-detail {
    display: grid;
    grid-template-columns: 90% 10%;
    height: 10rem;
    width:auto;
    gap: 0.2rem;
    padding-right: 1rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card-text {
    width: initial;

    overflow: hidden; /* option for text in card */
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.65rem; /* fallback */
    // max-height: 2rem;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .card-text-toggle {
    line-height: 1.2rem;

    height: 25rem;
    width: 15rem;
  }

  .hidden {
    display: none;
  }

  .card-paragragh {
    height: auto;
    height: 15rem;
    width: 100%;
  }
}

.skeleton {
  @extend .card-container;
  display: block;
  height: 10rem;
}
.emptydiv {
  width: 70%;
}
.header {
  display: flex;
}
.header-skeleton {
  width: 28%;
}
