.pallet-item {
  border: none;
  margin: 1rem 0.5rem;
}
.pallet-item:hover {
  box-shadow: 2px 2px 4px #ddd;
  font-size: large;
}
.pallet-modal-layout {
  display: flex;

  position: absolute;

  left: 35%;
  top: 1rem;
  z-index: 13;
  padding: 1rem 1rem;

  width: 28rem;
  height: 17rem;
  background-color: aliceblue;
}
.pallet-modal-layout {
  display: flex;
  flex-direction: column;
  position: absolute;

  left: 37%;
  top: 5rem;
  z-index: 13;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px #9e9e9e;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 0.5rem 0.5rem;

  transition: all 300ms linear;
}
.modal-action {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pallet-modal-layout-off {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.pallet-modal-layout-off > button {
  flex-wrap: nowrap;
  width: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.btn-off {
  justify-self: center;
  height: 2rem;
  width: 4rem;
  border-radius: 10px;
  font-size: larger;
  border: none;
  color: aliceblue;
  background-color: black;
  cursor: pointer;

  justify-self: end;
  margin-right: 3rem;
}
.btn-off:hover {
  background-color: white;
  color: black;
}
.types-title {
  justify-self: start;
  margin-left: 2rem;
  align-self: center;
  font-size: large;
}
.span-more {
  cursor: pointer;
}
.span-more:hover {
  font-size: large;
  font-weight: bold;
}
// @keyframes spin-the-title {
//   from {
//     transform: translateX(0px);
//   }
//   to {
//     transform: translateX(1400px);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   .pallet-modal-layout {
//     transition: spin-the-title 1s linear;
//   }
// }

@media (max-width: 550px) {
  .pallet-modal-layout {
    display: flex;

    position: absolute;

    left: 5%;
    top: 40%;
    z-index: 13;
    padding: 1rem 1rem;
    width: 20rem;
    background-color: aliceblue;
  }
}
