@import './reset.scss';
*{
    font-family: 'Inter', sans-serif;
}




// about flex
.flex{
    display: flex;
}













// about margin 
.ml-2{
    margin-left: 2rem;
}


.mr-2{
    margin-right: 2rem;
}