// .outer-Circle {
//   position: fixed;
//   left: 40%;
//   bottom: 40%;
//   width: 150px;
//   height: 150px;
//   border-radius: 100px;
//   background-color: rgb(37, 37, 37);
//   box-shadow: 3px 3px 5px #ffffff inset;
//   z-index: 10;
// }
.inner-circle {
  position: fixed;
  left: 43%;
  bottom: 40%;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  background-color: none;
  box-shadow: 3px 3px 5px #1c1c1c inset;
}

@keyframes innerCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// @keyframes outerCircle {
//   from {
//     transform: rotateY(0deg);
//   }
//   to {
//     transform: rotateY(360deg);
//   }
// }
// @media (prefers-reduced-motion: no-preference) {
//   .outer-Circle {
//     animation: outerCircle infinite 600ms linear;
//   }
// }
@media (prefers-reduced-motion: no-preference) {
  .inner-circle {
    animation: innerCircle infinite 600ms linear;
  }
}
